<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>{{ page.title }}</title>
<meta name="author" content="Esa Määttä"/>
<link rel="stylesheet" href="/css/styles.css" />

</script>
</head>
<body>

<div id="container">
<div id="header">
<div id="me">
<a href="/">
<span id="esa">Esa</span>
<span id="määttä">Määttä</span>
</a>
</div>
<div id="mousing">&nbsp;</div>
<div class="site">

</div>
<div id="sections">
<div>
<a href="/about.html">about</a>
</div>
<div>
<a href="/projects.html">projects</a>
</div>
</div>
<div id="icons">
<div class="side-github">
<a href="http://www.github.com/wor"><img src="/images/icon_github.png" /></a>
</div>



</div>



<div id="body-header">
<p></p>
</div>

{{ content }}
</div>
</body>
</html>
